{% extends "/base.html" %}

{% block title %}管理 - 全部设备{% endblock %}

{% block body %}
    <div class="ui centered grid">
        <div class="column">
            <div class="ui blue pointing menu">
                <a class="active item"><i class="circle icon"></i>管理 - 全部设备</a>
                <a class="item" href="{{ url_for('main.site_index') }}"><i class="arrow left icon"></i>返回首页</a>
            </div>

            <div class="ui dividing blue header">
                <div class="content">
                    <h2>全部设备</h2>
                </div>
            </div>

            <table id="table" class="ui compact sortable celled unstackable striped blue table">
                <thead>
                <tr class="positive">
                    <th>No.</th>
                    <th>设备类型</th>
                    <th>设备序列号</th>
                    <th>客户所有物</th>
                    <th>设备授权</th>
                    <th>CAN 通道数量</th>
                    <th>LIN 通道数量</th>
                    <th>当前所有者</th>
                    {#                    <th>下个所有者</th>#}
                    <th>设备可用性状态</th>
                    <th>设备在线状态</th>
                    <th>备注</th>
                    {#                    <th>创建时间</th>#}
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
                {% for data in manage_index_data %}
                    <tr>
                        <td>
                            {{ data.id }}
                        </td>
                        <td>
                            {{ data.type }}
                        </td>
                        <td>
                            <a href="{{ url_for('main.transfer_device') }}?serial={{ data.serial }}">{{ data.serial }}</a>
                        </td>
                        <td>
                            {{ data.customer }}
                        </td>
                        <td>
                            {{ data.license }}
                        </td>
                        <td>
                            {{ data.can_count }}
                        </td>
                        <td>
                            {{ data.lin_count }}
                        </td>
                        <td>
                            {% if data.now_person != None %}
                                {{ data.now_person.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        {#                        <td>#}
                        {#                            {% if data.next_person != None %}#}
                        {#                                {{ data.next_person }}#}
                        {#                            {% else %}#}
                        {#                                -#}
                        {#                            {% endif %}#}
                        {#                        </td>#}
                        <td {% if data.device_available_status != None %}class="{% if data.device_available_status == 0 %}positive{% else %}negative{% endif %} single line"{% endif %}>
                            {% if data.device_available_status != None %}
                                {% if data.device_available_status == 0 %}
                                    设备完好
                                {% elif data.device_available_status == 1 %}
                                    设备损坏
                                {% elif data.device_available_status == 2 %}
                                    设备返还日本侧
                                {% elif data.device_available_status == 3 %}
                                    设备借出
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if data.device_online_time is not None %}
                                {% if time - data.device_online_time < device_offline_timedelta %}
                                    使用中
                                    <i class="notched circle red loading icon"></i>
                                {% else %}
                                    未使用
                                    <i class="circle green icon"></i>
                                {% endif %}
                                {{ moment(data.device_online_time_utc).fromNow(refresh=True) }}
                            {% else %}
                                未知
                            {% endif %}
                        </td>
                        <td>
                            {{ data.tips }}
                        </td>
                        {#                        <td>#}
                        {#                            {{ data.create_time }}#}
                        {#                        </td>#}
                        <td>
                            {{ moment(data.update_time).format('YYYY-MM-DD HH:mm:ss') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="ui divider"></div>
            <footer>
                <div class="ui info message" style="text-align: center;">
                    ALSI&nbsp&nbsp&nbsp&nbsp©&nbsp&nbsp&nbsp&nbsp2021<br>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function () {
                $("#table").tablesorter();
            }
        );
    </script>
{% endblock %}