<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="yuangezhizao"/>
    <meta name="Copyright" content="Copyright yuangezhizao All Rights Reserved."/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='/static/Semantic-UI-CSS-master/semantic.min.css') }}">
    <link rel="dns-prefetch" href="//lab.yuangezhizao.cn">
    <link rel="dns-prefetch" href="//www.yuangezhizao.cn">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="ui container">
        <div class="ui blue pointing menu">
            {% block nav %}
                <a class="active item"><i class="home icon"></i>首页</a>
                <a class="item" href="{{ url_for('static', filename='/static/html/update.html') }}"><i
                        class="arrow up icon"></i>更新日志</a>
                <div class="right menu">
                    {% if current_user.is_authenticated %}
                        <a class="item" href="{{ url_for('main.auth_logout') }}"><i class="sign out icon"></i>注销</a>
                    {% else %}
                        <a class="up item" href="{{ url_for('main.auth_index') }}"><i class="sign in icon"></i>登录</a>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        {% block content %}{% endblock %}
        <div class="ui divider"></div>
        <footer>
            <div class="ui info message" style="text-align: center;">
                ALSI&nbsp&nbsp&nbsp&nbsp©&nbsp&nbsp&nbsp&nbsp2021
            </div>
        </footer>
    </div>
{% endblock %}
<script src="{{ url_for('static', filename='/static/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='/static/Semantic-UI-CSS-master/semantic.min.js') }}"></script>
<script>
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
    $('.selection.dropdown').dropdown();
    console.log('没错，控制台彩蛋（');
    console.warn('小伙子你不要搞事情');
</script>
{% block script %}{% endblock %}
{{ moment.include_moment(local_js=url_for('static', filename='static/js/moment-with-locales.min.js')) }}
</body>
</html>