{% extends "/base.html" %}

{% block title %}ALSI ES CANoe 设备管理系统{% endblock %}

{% block content %}
    <div class="ui positive message">
        <h2 class="ui header">欢迎访问 ヽ(･ω･´ﾒ)</h2>
        <p>ALSI ES CANoe 设备管理系统</p>
    </div>

    {% if current_user.is_authenticated %}
        <h4 class="ui top attached block blue header">
            我的
        </h4>
        <div class="ui bottom attached blue segment">
            你好，<b>{{ current_user.name }}</b>
            <br>
            {% if my_now_device_data %}
                <br>
                ① 以下是你拥有的设备：
                <br>
                <br>
                {% for my_now_device in my_now_device_data %}
                    <a class="ui mini green button"
                       href="{{ url_for('main.transfer_device') }}?serial={{ my_now_device.serial }}">{{ my_now_device.serial }}</a>
                {% endfor %}
            {% else %}
                <br>
                ① 你暂无拥有的设备
            {% endif %}
            <br>
            {% if my_next_device_data %}
                <br>
                ② 以下是你需要确认的设备：
                <table class="ui very compact collapsing table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>设备序列号</th>
                        <th>设备来自</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for my_next_device in my_next_device_data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a class="ui mini blue button"
                                   href="{{ url_for('main.transfer_device') }}?serial={{ my_next_device.serial }}">
                                {{ my_next_device.serial }}</a></td>
                            <td>{{ my_next_device.now_person }}</td>
                            <td>{% if my_next_device.device_available_status == 0 %}
                                <form class="ui inline" method="post"
                                      action="{{ url_for('main.transfer_device') }}?serial={{ my_next_device.serial }}">
                                    <input name="func" value="stop_transfer" type="hidden">
                                    <button class="ui animated fade positive mini button" name="transfer_confirm"
                                            value="1">
                                        <div class="visible content">确认接收{{ my_next_device.serial }}</div>
                                        <div class="hidden content">
                                            <i class="check circle outline icon"></i>
                                        </div>
                                    </button>
                                </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% else %}
        <div class="ui yellow message">
            <i class="close icon"></i>
            <div class="header">警告
            </div>
            未登录用户，
            <a class="item" href="{{ url_for('main.auth_index') }}"><i class="sign in icon"></i>点此登录</a>
        </div>
    {% endif %}

    <h4 class="ui top attached block brown header">
        管理
    </h4>
    <div class="ui bottom attached brown segment">
        <a href="{{ url_for('main.manage_index') }}">全部设备</a>
        {% if current_user.username in ('ASDL1B1DL033', 'ASDL1B8DL002') %}
            <br>
            <br>
            <a class='ui red' href="/admin">【Admin】数据库管理</a>
        {% endif %}
    </div>
{% endblock %}