{% extends "/base.html" %}

{% block title %}ALSI ES CANoe 设备管理系统{% endblock %}

{% block content %}
    <div class="ui positive message">
        <h2 class="ui header">欢迎访问 ヽ(･ω･´ﾒ)</h2>
        <p>ALSI ES CANoe 设备管理系统</p>
    </div>

    {% if current_user.is_authenticated %}
        <h4 class="ui top attached block blue header">
            我的
        </h4>
        <div class="ui bottom attached blue segment">
            你好，<b>{{ current_user.name }}</b>
            <br>
            {% if my_now_device_data %}
                <br>
                ① 以下是你在使用的设备：
                <br>
                <br>
                {% for my_now_device in my_now_device_data %}
                    <a class="ui mini green button"
                       href="{{ url_for('main.transfer_device') }}?serial={{ my_now_device.serial }}">{{ my_now_device.serial }}</a>
                {% endfor %}
            {% else %}
                <br>
                ① 你暂无在使用的设备
            {% endif %}
            <br>
            {% if my_next_device_data %}
                <br>
                ② 以下是你需要确认的设备：
                <br>
                <br>
                {% for my_next_device in my_next_device_data %}
                    <a class="ui mini blue button"
                       href="{{ url_for('main.transfer_device') }}?serial={{ my_next_device.serial }}">{{ my_next_device.serial }}</a>
                {% endfor %}
            {% else %}
                <br>
                ② 你暂无需要确认的设备
            {% endif %}
        </div>
    {% else %}
        <div class="ui yellow message">
            <i class="close icon"></i>
            <div class="header">警告
            </div>
            未登录用户，
            <a class="item" href="{{ url_for('main.auth_index') }}"><i class="sign in icon"></i>点此登录</a>
        </div>
    {% endif %}

    <h4 class="ui top attached block brown header">
        管理
    </h4>
    <div class="ui bottom attached brown segment">
        <a href="{{ url_for('main.manage_index') }}">全部设备</a>
    </div>
{% endblock %}