{% extends "/base.html" %}

{% from 'macros.html' import message_part with context %}

{% block title %}登录{% endblock %}

{% block nav %}
    <a class="active item"><i class="info icon"></i>登录</a>
    <a class="item" href="{{ url_for('main.site_index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div>
        <h2 class="ui blue image header">
            <div class="content">
                登录
            </div>
        </h2>
        {{ message_part() }}
        <form class="ui large form" action="" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <label>用户名</label>
                    <div class="ui left icon input">
                        <input class="ui input" type="text" name="username" id="email" placeholder="请输入用户名"
                               autofocus>
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>密码</label>
                    <div class="ui left icon input">
                        <input class="ui input" type="password" name="password" id="password"
                               placeholder="请输入密码">
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="remember" value="True">
                        <label>记住账号</label>
                    </div>
                </div>
                <input class="ui fluid large blue submit button" type="submit" name="submit" value="登录">
            </div>
        </form>
    </div>
{% endblock %}